*
{
    padding: 0;
    margin: 0;
    list-style: none;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.container
{
    width: 100%;
}
.navbar
{
    width:100%;
    height: 30vh;
    background-image: linear-gradient(rgba(255,255,255,.98),rgba(255,255,255,.98)), url("images/logo.png");
    background-size: 150% 150% ;
    background-position-x: 50%;
    background-position-y: 40%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-content: center;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}
.menu
{ 
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; 
}
.menu>ul
{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu>ul>li
{
    position: relative;
}
.active
{
    color: #FF3271;
}
.menu>ul>li>a
{
    color: black;
    padding: 5px 10px;
    /* background: #7F4DFF; */
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu>ul>li>a:hover
{
    color: #FF3271;
    transition: .5s;
}
.menu>ul>li>ul
{
    visibility: hidden;
    width: 200px;
    top: 100%;
    border: 3px solid #FF3271;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    z-index: 1;
    /* transform: translateY(30px); */
}
.menu>ul>li>ul
{
    visibility: hidden;
    width: 200px;
    top: 100%;
    border: 3px solid #FF3271;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    z-index: 1;
    /* transform: translateY(30px); */
}
.menu>ul>li:hover .dropdown
{
    visibility: visible;
}
.dropdown>li
{
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}
.menu>ul>li>ul>li>a
{
    font-size: 14px;
    display: block;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}
.menu>ul>li>ul>li::before
{
    position: absolute;
    content: '';
    background: #FF3271;
    display: block;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}
.menu>ul>li>ul>li:hover::before
{
    width: 100%;
    left: 0;
    top: 0;
    transition: all .8s;
    opacity: 0;
    color: #FF3271;
}
.menu>ul>li>ul>li>a:hover
{
    color: #FF3271;
    transition: all .5s;
}
.logo
{
    width: 90%;
}
.empty
{
    width: 90%;
}
.logo >img
{
    width: 90%;
}

/* main section css */

.main
{
    width: 100%;
    height: 600vh;
    display: grid;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh;
}
.bg-image
{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.bg-image>h1
{
    font-size: 5em;
    font-weight: 700;
    padding: 5px;
    width: fit-content;
    background: white;
    text-transform: uppercase;
}
.bg-image-1>h1>strong>span
{
    color: #E74D4D;
}
.bg-image-2>h1>strong>span
{
    color: #eff092;
}
.bg-image-3>h1>strong>span
{
    color: #016ADD;
}
.bg-image-4>h1>strong>span
{
    color: #56DB91;
}
.bg-image-5>h1>strong>span
{
    color: #E85EB3;
}
.bg-image-6>h1>strong>span
{
    color: #84418E;
}
.bg-image>h3
{
     padding-top: 5%;
     color: whitesmoke;
}
.bg-image-1
{
    background-image: url("images/1-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.bg-image-2
{
    background-image: url("images/2-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.bg-image-3
{
    background-image: url("images/3-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.bg-image-4
{
    background-image: url("images/4-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.bg-image-5
{
    background-image: url("images/5.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.bg-image-6
{
    background-image: url("images/6.jpg");
    background-size: cover;
    background-attachment: fixed;
}
/* footer css */
.footer
{
   display: grid;
   height: 40vh;
   grid-template-rows: repeat(3, 7vh);
   justify-items: center;
   align-content: center;
   /* border: 1px solid; */
}
.logo1
{
    width: 30%;
    display: flex;
    justify-content:center ;
}
.logo1 img
{
    width: 40%;
    height: 70%;
}
.social
{ 
    width: 20%;
    display: grid;
    align-content: center; 
}
.social ul
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: end; 
}
.social ul li
{
    padding-right: 5px;
}
.social ul li a i
{ 
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 1;
    padding: 10px;
    background: #FF3271;
    border-radius: 50%;
    color: white;
    
}
.social ul li a i:hover
{
    transform: rotate(360deg);
    transition: all .5s;
}
.footer p
{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}